.titleClass{
    display: block;
    text-align: center;
    margin: 5%;
}

form,fieldset{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

input{
    margin: 1%;
}